@import "theme.scss";
@import "typo.scss";
.bird-eye_header {
    @include xl-font();
    @include red-grad();
	@include shadow();
    text-align: center;
    color: #ffffff;
    line-height: 45px;
    .smiley{
	    width: 75px;
	    height: 75px;
	    display: inline-block;
	    vertical-align: text-bottom;
    	background: transparent url('../images/offtrack.png') center center no-repeat;
    }
    .on-track {
        display: none;
        .smiley{
    		background: transparent url('../images/smile.png') center center no-repeat;
        }
    }
    &.on-track {
        @include green-grad();
        .off-track {
            display: none;
        }
        .on-track {
            display: block;
        }
    }
    .track-item-container {
    	color: $dark-text;
        @include medium-font();
    }
    .track-items {
        align-items: baseline;
        padding: 0 $large-spacing;
        text-align: left;
        background: rgba(255, 255, 255, 0.8);
        span:last-child {
            @include small-font();
            margin-left: $small-spacing;
        }
    }
}
.bird-eye_content{
	padding: 0 $large-spacing;
	
	.owner{
		width: 100px;
		margin: 0 10px;
		text-align: center;
	}
	.itemsOnTrack,
	.owner{
		@include medium-font;
	}

	.bird-header{
		@include large-font();

		font-weight: 400;
		text-transform: uppercase;
		color: $semi-dark-text;
		padding: $large-spacing 0 $medium-spacing 0;
		border-bottom: 1px solid $light-text;
		margin-bottom: $primary-spacing;
	}
}
.bird-eye_projects{
	.each-item {
		margin: $primary-spacing 0;



		&.complete{
			//when the data says the projects r complete
			.item-count{
				color: $green-text;
			}

			.status-bar{
				background: $green-text;
			}
		}

		&.active{
			//when toggle to open
			.item-collapse-area{
				max-height: 1000px;
			}
		}
	}
	.status-holder{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 2px;
		z-index: 1;
		background: rgba(207, 211, 218, 0.6);
	}
	.status-bar{
		height: 100%;
    	@include red-grad();	
	}
	.number{
		@inculde medium-font();
		background: $secondary-bg;
		width: 66px;
		height: 66px;
		line-height: 66px;
		color: $primary-text-color;
		text-align: center;
		border: 1px solid $light-text;
		border-right: 0;
	}

	.item-area{
		border: 1px solid $light-text;
		position: relative;
		background: #fff;
	}

	.item-count{
		width: 145px;
		text-align: center;
		color: $red-text;


	}
	.item-clickable{
		position: relative;
		height: 66px;
		overflow: hidden;
		align-items: center;
		cursor: pointer;

		.item-body{
			@include small-font();
			color: $primary-text-color;
		}
		
		.owner{
			@include medium-font();
		}
		.item-count{
			@include large-font();
		}
		> div{
			padding: $primary-spacing;
			padding-right: 0;
			box-sizing: border-box;

		}
	}

	.item-collapse-area{
		transition: max-height ease 0.3s;
		will-change: max-height;
		max-height: 0;
		box-sizing: border-box;
		overflow: hidden;
		color: $secondary-text-color;
	}
	.collapse-items{
		@include small-font();
		border-bottom: 1px solid $border-table;
		margin-left: $large-spacing;
		margin-right: $primary-spacing;
		
		.owner{
			color: $blue-text;
			cursor: pointer;
		}
		.item-count{    
			width: 115px;
			margin-left: $primary-spacing;

			&.on-track{
				color: $green-text;
			}
		}
		>div{
			padding: $medium-spacing 0 $medium-spacing $primary-spacing;
			box-sizing: border-box;
			&:first-child{
				padding-left: 0;
			}
		}

		&:last-child{
			border-bottom: 0;
			margin-bottom: $medium-spacing;
		}
	}
}

@media #{$tablet} {
    .bird-eye_header {
        @include xxxl-font();
        line-height: 95px;
        .track-item-container {
            @include xl-font();
            flex-direction: row;
            span:last-child {
                @include medium-font();
            }
        }
        .devider {
            height: 100%;
            width: 1px;
            background: transparent;
        }
    }
}
