@import "theme.scss";
@import "typo.scss";

#form-area {
    @include relative-position;
}

#trip-tabs {
    @extend #form-area;
    @include spacing-margin;
    @include small-font;
    @include layout-hor;
    margin-bottom: -1px;
}

.trip-tab-item {
    border-bottom: 0;
    cursor: pointer;
    opacity: 0.5;
    &.active {
        z-index: 1;
        opacity: 1;
    }
}

#round-trip {
    @extend #form-area;
    left: -5px;
}

#input-section {
    @include spacing-margin;
    margin-top: 0;
}

.input-row {
}

.input {
    @include small-font;
    appearance: none;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    outline: 0;
    transition: transform 225ms ease-in-out;
    width: 100%;
    &[type="submit"]{
    }
}


#filter-area {
    @extend #form-area;
    @extend #input-section;

    .label{

      @include medium-font;
    }
}

.range-section {
    @extend #form-area;
    @include small-font;

    min-height: 25px;
}

.input-range {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 15px;
    outline: none;
    height: 18px;
    margin: 0;
    padding: 0;
    width: 100%;
    &::-webkit-slider-thumb {
        pointer-events: all;
        position: relative;
        z-index: 1;
        outline: 0;
    }
    &::-moz-range-thumb {
        pointer-events: all;
        position: relative;
        z-index: 10;
        -moz-appearance: none;
        width: 9px;
    }
    &::-moz-range-track {
        position: relative;
        z-index: -1;
        background-color: rgba(0, 0, 0, 1);
        border: 0;
    }
    &:last-of-type::-moz-range-track {
        -moz-appearance: none;
        background: none transparent;
        border: 0;
    }
    &[type=range]::-moz-focus-outer {
        border: 0;
    }
  }
