//all the helper classes
@import "theme.scss";
.layout-hor {
	display: flex;
	flex-direction: row;
}
.layout-ver {
	display: flex;
	flex-direction: column;
}

.below-margin{
	margin-bottom: 10px;
}

.on-track{
	color: $green-text;
}

.of-track{
	color: $red-text;
}

.fit{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.flex{
	flex:1;
}
[hidden]{
	display: none!important;
}