@import "theme.scss";
@import "typo.scss";
html,
#body {
    font-family: $font-family;
    height: 100%;
    width: 100%;
}


/* Shared Styles */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

#body {
    @include layout-ver;
    color: $primary-text-color;
    background-color: $primary-bg;
    margin: 0;
    padding: 0;
}


#content {
    @include layout-hor;
    @include relative-position;
    flex: 1;
    background-size: cover;
}

#leftSection {
    transform: translateX(-100%);
}
#search-icon {
}
#leftSection {
    width: 285px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-right: 1px solid;
    transition: transform 0.3s ease;
}

//result section starts
#result-section {
    @include layout-ver;
    flex: 1;
    background: $primary-bg;
}

#result-header {
    padding: $large-spacing 0;
    margin: 0 $large-spacing;
}

#search-location {
    @include xl-font;
    flex: 1;
}
#main-body-text{
    @include medium-font;
    padding: 10px;
    line-height: 1.5;
}
#result-body {
    padding: $large-spacing;
    overflow: auto;
}

@media #{$tablet} {
    #leftSection {
        position: static;
    }

}
