@import "theme.scss";
@import "typo.scss";
html,
#body {
    font-family: $font-family;
    height: 100%;
    width: 100%;
}


/* Shared Styles */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

#body {
    @include layout-ver;
    color: $primary-text-color;
    background-color: $primary-bg;
    margin: 0;
    padding: 0;
}

.body-section{
    @include layout-hor;

        .content {
        height: 100%;
        overflow: auto;
        box-sizing: border-box;
    }
}

