@import "theme.scss";
@import "typo.scss";
.status-page{
	padding: $large-spacing;
}

.table{
	width: 100%;
    border-collapse: collapse;
	border: 1px solid $border-table;
	background: $white;
	color: $secondary-text-color;
	.content{
		font-size: $font-14;
		ol{
			margin-left: $font-14;
			margin-top: 5px;
			line-height: 1.5;
		}
	}
	.content-header{
		color: $dark-text;
		font-weight: 400;
		margin-bottom: 5px;
	}
	.select-wrapper{
		display: inline-block;
	    border: 1px solid $border-table;
	    position: relative;
	    color: inherit;
	    &:before{
	    	content:"";
		    border-color: #909090 transparent;
		    border-style: solid;
		    border-width: 4px 4px 0 4px;
		    width: 0;
		    height: 0;
		    margin-left: -2px;
		    top: 50%;
		    right: 5px;
		    margin-top: -2px;
		    position: absolute;
	    }
	}
	.select{
		appearance: none;
	    background: $white;
	    outline: 0;
	    border-radius: 0;
	    color: inherit;
	    font-size: $font-14;
		border: 0;
		font-weight: 100;
	    padding: $primary-spacing;
	}

	th{
		background: $table-header-bg;
	}
	.big-td{
		min-width: 120px;
	}
	tr.hovered{
		background: $table-yellow;
	}
	th , td{
		padding: $primary-spacing;
		position: relative;
		@include xsmall-font();
		border: 1px solid $border-table;
		vertical-align: top;
		min-width: 70px;
	}

	th{
		text-align: left;
		padding: 20px $primary-spacing;
		color: $primary-text-color;
		vertical-align: middle;
		@include small-font();
	}
	td.textarea-td{
		padding: 7px;
	}
	.sorting{
		cursor: pointer;
		position: relative;
		user-select:none;

		&:before{
			position: absolute;
			right: -15px;
			top: 50%;
			transform: translateY(-50%);
		}
		&.ascending{
			&:before{
				content: '↓';
			}
		}

		&.descending{
			&:before{
				content: '↑';
			}
		}
	}

	.saveClearContainer{
		position: absolute;
		@include xxsmall-font();
		text-transform: uppercase;
		left: 2px;
    	bottom: 5px;
		padding: 5px;
		background: $white;
		cursor: pointer;
		opacity: 0;
	}
	.save{
		color: $blue-text;
		margin-right: $small-spacing;
	}
	.textarea-wrap{
		position: relative;
	}
	.textarea{
		appearance: none;
		border:2px solid transparent;
		width: 100%;
		margin: 0;
		box-sizing:border-box;
		background: transparent;
		padding: $small-spacing;
		padding-bottom: 40px;
		@include xsmall-font();
		color: $secondary-text-color;
		resize: none;

		&:focus{
			border: 2px solid $light-text;
			background: $white;
			outline: $border-menu auto 2px;
			&+.saveClearContainer{
				display: block;
				opacity: 1;
			}
		}
	}

}