

//variables
//=========================
$font-family: 'Roboto', 'Helvetica', sans-serif;

//screen sizes
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1025px)";

//colors
$dark-text: #444444;
$semi-dark-text: #787f86;
$blue-text: #0da8e1;
$light-text: #cfd3da;
$primary-text-color: #999fac;
$secondary-text-color: #7a808c;
$red-text: #fd786c;
$green-text: #58dca0;
$table-yellow: #feffef;
$white: #fff;

$touchpoint-black: #78808b ;

$primary-bg: #e6ebef;
$secondary-bg: #f2f5fa;
$table-header-bg: #f2f5fa;
$border-header: #317ecb;
$border-menu: #4e5966;
$selected-menu: #fed231;
$border-table: #e0e3ed;
//spacings
$large-spacing: 30px;
$primary-spacing: 15px;
$medium-spacing: 10px;
$small-spacing: 5px;
//font-sizes
$font-xxxl: 60px;
$font-xxl: 48px;
$font-xl: 36px;
$font-l: 24px;
$font-m: 18px;
$font-s: 16px;
$font-14: 14px;
//shadow
@mixin shadow{
    box-shadow: 0px 2px 15px -4px rgba(0, 0, 0, 0.75);
}
//gradient
@mixin green-grad {
	background: linear-gradient(to right,  #1cbe85 0%,#93f9b9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1cbe85', endColorstr='#93f9b9',GradientType=1 ); 
}

@mixin red-grad {
	background: linear-gradient(to right,  #fd746c 0%,#ff9068 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd746c', endColorstr='#ff9068',GradientType=1 ); /* IE6-9 */
}

@mixin black-grad {
	background: linear-gradient(to bottom,  #3f4954 0%,#2d343c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4954', endColorstr='#2d343c',GradientType=0 ); /* IE6-9 */
}

//grid
@mixin layout-hor{
	display: flex;
	flex-direction: row;
}
@mixin layout-ver{
	display: flex;
	flex-direction: column;
}
//need to change to extend

@mixin spacing-margin{
	margin: $primary-spacing;
}
@mixin relative-position{
	position: relative;
}
